<a href="https://colab.research.google.com/github/neema233/Batch_Processing/blob/main/PySpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
%%capture
!pip install pyspark
!pip install findspark
!pip install pyngrok

In [3]:
import findspark

findspark.init()

from pyspark.sql import SparkSession

spark = SparkSession.builder \
        .appName('testColab') \
        .getOrCreate()

In [4]:
from pyngrok import ngrok, conf
import getpass

print("Enter your authtoken, which can be copied "
"from https://dashboard.ngrok.com/get-started/your-authtoken")
conf.get_default().auth_token = getpass.getpass()

ui_port = 4040
public_url = ngrok.connect(ui_port).public_url
print(f" * ngrok tunnel \"{public_url}\" -> \"http://127.0.0.1:{ui_port}\"")

Enter your authtoken, which can be copied from https://dashboard.ngrok.com/get-started/your-authtoken
··········

WARNING:pyngrok.process.ngrok:t=2024-03-04T19:12:38+0000 lvl=warn msg="can't bind default web address, trying alternatives" obj=web addr=127.0.0.1:4040

 * ngrok tunnel "https://2624-34-74-83-222.ngrok-free.app" -> "http://127.0.0.1:4040"

In [5]:
#testing spark
from pyspark import SparkFiles

file_url = 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-07.parquet'
spark.sparkContext.addFile(file_url)

df = spark.read.csv(SparkFiles.get('yellow_tripdata_2023-07.parquet'),
      header=True)

df.count()

377471

In [6]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz

--2024-03-04 19:12:55--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz
Resolving github.com (github.com)... 140.82.113.4
Connecting to github.com (github.com)|140.82.113.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240304%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240304T191255Z&X-Amz-Expires=300&X-Amz-Signature=1b010a4f39f8f4971e0c89332296d926f55bb6208b6bf9061cce367c3e8ded85&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-03-04 19:12:55--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240304%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240304T191255Z&X-Amz-Expires=300&X-Amz-Signature=1b010a4f39f8f4971e0c89332296d926f55bb6208b6bf9061cce367c3e8ded85&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.110.133, 185.199.111.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19375751 (18M) [application/octet-stream]
Saving to: ‘fhv_tripdata_2019-10.csv.gz’

fhv_tripdata_2019-1 100%[===================>]  18.48M  --.-KB/s    in 0.1s

2024-03-04 19:12:56 (127 MB/s) - ‘fhv_tripdata_2019-10.csv.gz’ saved [19375751/19375751]

In [7]:
!wc -l fhv_tripdata_2019-10.csv.gz

62958 fhv_tripdata_2019-10.csv.gz

In [8]:
df = spark.read \
    .option("header", "true") \
    .csv('fhv_tripdata_2019-10.csv.gz')

In [9]:
df.head(5)

[Row(dispatching_base_num='B00009', pickup_datetime='2019-10-01 00:23:00', dropOff_datetime='2019-10-01 00:35:00', PUlocationID='264', DOlocationID='264', SR_Flag=None, Affiliated_base_number='B00009'),
 Row(dispatching_base_num='B00013', pickup_datetime='2019-10-01 00:11:29', dropOff_datetime='2019-10-01 00:13:22', PUlocationID='264', DOlocationID='264', SR_Flag=None, Affiliated_base_number='B00013'),
 Row(dispatching_base_num='B00014', pickup_datetime='2019-10-01 00:11:43', dropOff_datetime='2019-10-01 00:37:20', PUlocationID='264', DOlocationID='264', SR_Flag=None, Affiliated_base_number='B00014'),
 Row(dispatching_base_num='B00014', pickup_datetime='2019-10-01 00:56:29', dropOff_datetime='2019-10-01 00:57:47', PUlocationID='264', DOlocationID='264', SR_Flag=None, Affiliated_base_number='B00014'),
 Row(dispatching_base_num='B00014', pickup_datetime='2019-10-01 00:23:09', dropOff_datetime='2019-10-01 00:28:27', PUlocationID='264', DOlocationID='264', SR_Flag=None, Affiliated_base_number='B00014')]

In [10]:
df.schema

StructType([StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropOff_datetime', StringType(), True), StructField('PUlocationID', StringType(), True), StructField('DOlocationID', StringType(), True), StructField('SR_Flag', StringType(), True), StructField('Affiliated_base_number', StringType(), True)])

In [11]:
import pandas as pd

In [12]:
df_pandas=pd.read_csv('/content/fhv_tripdata_2019-10.csv.gz')

In [13]:
df_pandas.dtypes

dispatching_base_num       object
pickup_datetime            object
dropOff_datetime           object
PUlocationID              float64
DOlocationID              float64
SR_Flag                   float64
Affiliated_base_number     object
dtype: object

In [14]:
spark.createDataFrame(df_pandas).schema

StructType([StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropOff_datetime', StringType(), True), StructField('PUlocationID', DoubleType(), True), StructField('DOlocationID', DoubleType(), True), StructField('SR_Flag', DoubleType(), True), StructField('Affiliated_base_number', StringType(), True)])

In [15]:
from pyspark.sql import types

In [16]:
schema= types.StructType([
types.StructField('dispatching_base_num', types.StringType(), True),
types.StructField('pickup_datetime', types.TimestampType(), True),
types.StructField('dropOff_datetime', types.TimestampType(), True),
types.StructField('PUlocationID', types.IntegerType(), True),
types.StructField('DOlocationID', types.IntegerType(), True),
types.StructField('SR_Flag', types.StringType(), True),
types.StructField('Affiliated_base_number', types.StringType(), True)])

In [17]:
df = spark.read \
    .option("header", "true") \
    .schema(schema)\
    .csv('fhv_tripdata_2019-10.csv.gz')

In [18]:
df.head()

Row(dispatching_base_num='B00009', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 23), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 35), PUlocationID=264, DOlocationID=264, SR_Flag=None, Affiliated_base_number='B00009')

In [19]:
df=df.repartition(6)

In [20]:
df.write.parquet("fhv_tripdata_2019-10_partitions")

In [21]:
!ls -lh fhv_tripdata_2019-10_partitions

total 39M
-rw-r--r-- 1 root root 6.4M Mar  4 19:15 part-00000-12f8f29a-cb04-4850-9df2-33dc6e5f11ad-c000.snappy.parquet
-rw-r--r-- 1 root root 6.4M Mar  4 19:15 part-00001-12f8f29a-cb04-4850-9df2-33dc6e5f11ad-c000.snappy.parquet
-rw-r--r-- 1 root root 6.4M Mar  4 19:15 part-00002-12f8f29a-cb04-4850-9df2-33dc6e5f11ad-c000.snappy.parquet
-rw-r--r-- 1 root root 6.4M Mar  4 19:15 part-00003-12f8f29a-cb04-4850-9df2-33dc6e5f11ad-c000.snappy.parquet
-rw-r--r-- 1 root root 6.4M Mar  4 19:15 part-00004-12f8f29a-cb04-4850-9df2-33dc6e5f11ad-c000.snappy.parquet
-rw-r--r-- 1 root root 6.4M Mar  4 19:15 part-00005-12f8f29a-cb04-4850-9df2-33dc6e5f11ad-c000.snappy.parquet
-rw-r--r-- 1 root root    0 Mar  4 19:15 _SUCCESS

In [22]:
df=spark.read.parquet('fhv_tripdata_2019-10_partitions')

In [44]:
df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B02784|2019-10-01 09:55:38|2019-10-01 10:05:43|          89|          85|   NULL|                  NULL|
|              B02429|2019-10-21 04:15:47|2019-10-21 04:36:04|         264|         264|   NULL|                B02429|
|              B01482|2019-10-19 12:00:00|2019-10-19 12:20:00|         264|         264|   NULL|                B01482|
|              B03015|2019-10-11 14:28:00|2019-10-11 14:32:44|         264|         216|   NULL|                B03015|
|              B01529|2019-10-21 18:00:26|2019-10-21 18:07:21|         264|          80|   NULL|                B01529|
|              B00477|2019-10-03 19:30:35|2019-10-03 20:27:57|         161|          14|   NULL|                B00477|
|              B00937|2019-10-25 06:10:40|2019-10-25 06:29:43|         264|         208|   NULL|                B00937|
|     B00889         |2019-10-30 06:18:02|2019-10-30 06:35:12|         260|         260|   NULL|       B00889         |
|              B01239|2019-10-09 03:39:16|2019-10-09 03:42:07|         264|         254|   NULL|                B00882|
|              B00256|2019-10-27 11:54:37|2019-10-27 12:28:18|         264|         264|   NULL|                B00256|
|              B01087|2019-10-14 18:41:24|2019-10-14 19:02:06|         261|         186|   NULL|                B01087|
|              B02846|2019-10-19 11:42:45|2019-10-19 12:42:42|         264|          23|   NULL|                B02846|
|              B02546|2019-10-17 15:20:32|2019-10-17 15:25:51|         264|         167|   NULL|                B02546|
|              B02803|2019-10-21 05:00:47|2019-10-21 05:03:44|          47|         169|   NULL|                B02803|
|              B01644|2019-10-14 11:34:00|2019-10-14 13:12:00|         264|         264|   NULL|                B01644|
|              B01454|2019-10-13 07:08:41|2019-10-13 07:13:43|         264|         188|   NULL|                B01454|
|              B01239|2019-10-24 06:05:22|2019-10-24 06:15:03|         264|         174|   NULL|                B00882|
|              B01751|2019-10-20 09:49:18|2019-10-20 10:40:59|         264|         264|   NULL|                B01751|
|              B00887|2019-10-06 17:17:28|2019-10-06 18:12:14|         264|         132|   NULL|                B00887|
|              B01362|2019-10-07 11:25:57|2019-10-07 11:39:15|         264|         185|   NULL|                B01362|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [54]:
#find the longest trip in day
from pyspark.sql import functions as F
longest_trip=df.withColumn("trip length",(F.col("dropOff_datetime").cast("long") - F.col("pickup_datetime").cast("long"))/3600)
longest_duration_hours =longest_trip.select(F.max("trip length")).show()

+----------------+
|max(trip length)|
+----------------+
|        631152.5|
+----------------+

In [27]:
from pyspark.sql import functions as F
df \
.withColumn("pickup_datetime",F.to_date("pickup_datetime"))\
.withColumn("dropOff_datetime",F.to_date("dropOff_datetime"))\
.show()

+--------------------+---------------+----------------+------------+------------+-------+----------------------+
|dispatching_base_num|pickup_datetime|dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+---------------+----------------+------------+------------+-------+----------------------+
|              B02784|     2019-10-01|      2019-10-01|          89|          85|   NULL|                  NULL|
|              B02429|     2019-10-21|      2019-10-21|         264|         264|   NULL|                B02429|
|              B01482|     2019-10-19|      2019-10-19|         264|         264|   NULL|                B01482|
|              B03015|     2019-10-11|      2019-10-11|         264|         216|   NULL|                B03015|
|              B01529|     2019-10-21|      2019-10-21|         264|          80|   NULL|                B01529|
|              B00477|     2019-10-03|      2019-10-03|         161|          14|   NULL|                B00477|
|              B00937|     2019-10-25|      2019-10-25|         264|         208|   NULL|                B00937|
|     B00889         |     2019-10-30|      2019-10-30|         260|         260|   NULL|       B00889         |
|              B01239|     2019-10-09|      2019-10-09|         264|         254|   NULL|                B00882|
|              B00256|     2019-10-27|      2019-10-27|         264|         264|   NULL|                B00256|
|              B01087|     2019-10-14|      2019-10-14|         261|         186|   NULL|                B01087|
|              B02846|     2019-10-19|      2019-10-19|         264|          23|   NULL|                B02846|
|              B02546|     2019-10-17|      2019-10-17|         264|         167|   NULL|                B02546|
|              B02803|     2019-10-21|      2019-10-21|          47|         169|   NULL|                B02803|
|              B01644|     2019-10-14|      2019-10-14|         264|         264|   NULL|                B01644|
|              B01454|     2019-10-13|      2019-10-13|         264|         188|   NULL|                B01454|
|              B01239|     2019-10-24|      2019-10-24|         264|         174|   NULL|                B00882|
|              B01751|     2019-10-20|      2019-10-20|         264|         264|   NULL|                B01751|
|              B00887|     2019-10-06|      2019-10-06|         264|         132|   NULL|                B00887|
|              B01362|     2019-10-07|      2019-10-07|         264|         185|   NULL|                B01362|
+--------------------+---------------+----------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [43]:
#numbers of taxi in 15th
filtered_data = df.filter(df.pickup_datetime.cast("date") == "2019-10-15")
print(filtered_data.count())

62610

In [77]:
from pyspark.sql import functions as F
fhv_df = spark.read.csv("fhv_tripdata_2019-10.csv.gz")
fhv_df.createOrReplaceTempView("tripdatafhv")
zone_data = spark.read.csv("taxi_zone_lookup.csv")
zone_data.createOrReplaceTempView("zones")


joined_df = spark.sql("""  SELECT z.zone, COUNT(f.PUlocationID) AS pickups
  FROM tripdatafhv f
  JOIN zones z ON f.PUlocationID = z.location_id
  GROUP BY z.zone""")


zone_counts = joined_df.groupBy("zone").count()

least_frequent_zone = zone_counts.sort(F.col("count").asc()).first()[0]

print("Least frequent pickup location zone:", least_frequent_zone)

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `f`.`PUlocationID` cannot be resolved. Did you mean one of the following? [`f`.`_c0`, `z`.`_c0`, `f`.`_c1`, `z`.`_c1`, `f`.`_c2`].; line 3 pos 18;
'Aggregate ['z.zone], ['z.zone, 'COUNT('f.PUlocationID) AS pickups#1613]
+- 'Join Inner, ('f.PUlocationID = 'z.location_id)
   :- SubqueryAlias f
   :  +- SubqueryAlias tripdatafhv
   :     +- View (`tripdatafhv`, [_c0#1574,_c1#1575,_c2#1576,_c3#1577,_c4#1578,_c5#1579,_c6#1580])
   :        +- Relation [_c0#1574,_c1#1575,_c2#1576,_c3#1577,_c4#1578,_c5#1579,_c6#1580] csv
   +- SubqueryAlias z
      +- SubqueryAlias zones
         +- View (`zones`, [_c0#1605,_c1#1606,_c2#1607,_c3#1608])
            +- Relation [_c0#1605,_c1#1606,_c2#1607,_c3#1608] csv